<template name="info">
  <h2>Creating meteor app</h2>  
  
<p>In this tutorial, we are going to create a simple app to manage a user login and export user list (.csv format). </p>
<p>By the end, you should have a basic login, router of Meteor and its project structure.</p>
<p>Dummy user email and passwrod list:</p>
<p>Admin:</p>
<p>email: admin@testapp.com</p>  
<p>password: admin123456</p>
<p>Modarator:</p>
<P>email: manageusers@testapp.com</p>
<p>password: manage1234</P>

  <p>Login url: http://localhost:3000/admin</p>
</template>
